@model bool

@{
    ViewData["Title"] = "Home Page";
    IgnoreBody();
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="портфолио, контент, работы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title>Главная</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body class="body">
    @if (Model)
    {
        <header class=""/>
    }
    else
    {
        <header class="head"/>
    }
        <nav class="navbar">
            <ul class="navigation">
                <li>
                    <img class="miniLogo" src="/images/logo_mini.png" width="50" height="59">

                </li>
                <li class="mainPage">
                    <p>Главная</p>
                </li>
                <li class="mainLogo">
                    <img src="/images/logo.png">
                </li>
                <li>
                    <p>Каталог</p>
                </li>
                <li>
                    <p>Мои подписки</p>
                </li>
                <li>
                    <img class="plus" src="/images/plus.png">
                </li>
                <li>
                    @if (Model)
                    {
                        <img src="/images/plus.png" /> //Типа иконка пользователя
                    }
                    else
                    {
                        <a href="/login" class="login">Вход</a>
                    }
                </li>

            </ul>
            
                @if (Model)
                {
                    <a href="/register">Просмотреть работы</a>
                }
                else
                {
                     <div class="about">
                         <p class="slogan">Делитесь своим<br> талантом</p>
                         <p class="slogan2">
                             Show Work - ваш персональный креативный каталог для представления своих проектов,
                             идей и достижений в цифровом<br> формате.
                         </p>
                         <a href="/register" class="startwork">Начать работу</a>
                         <img class="arrow" src="/images/Arrow1.png">
                     </div>
                }
        </nav>
    </header>
    <main>
        <div class="mainwork">
            <p>Портфолио недели</p>
            <img src="/images/arrow_logo.png">

        </div>
    </main>
    <footer>
    </footer>

</body>
</html>


