@model bool
@using ShowWork.DAL_MSSQL.Models
@using ShowWork.Service
@using ShowWorkUI

@{
    ViewData["Title"] = "Home Page";
    IgnoreBody();
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="портфолио, контент, работы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title>Главная</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body class="body">
   @await Component.InvokeAsync("MainMenu")
    <main>
        <div class="mainwork">
            <p>Портфолио недели</p>
            <img src="/images/arrow_logo.png">
        </div>
       <div class="row">
            <div class="col-sm-12">
                <component type="typeof(ShowWorkUI.Pages.Works)" render-mode="WebAssembly" />
            </div>
        </div> 
    </main>
    <footer>
    </footer>
    <script src="_framework/blazor.webassembly.js"></script>
</body>
</html>


