@model LoginViewModel

@{
    ViewData["Title"] = "Авторизация";
    IgnoreBody();
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="портфолио, контент, работы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title>Авторизация</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="loginPage">
    <header>
        <div class="mainLogo2">
            <img src="/images/logo.png">
        </div>
    </header>
    <main class="login_window">
        <a href="/home"><img align="left" class="arrow_logo" src="/images/arrow_logo2.svg"></a>
        <form action="/login" method="post">  
        <div class="miniWindow">
                <p class="caption">Вход</p>
                <p class="title">Логин</p>
                <input Name="Login" value="@Model.Login" class="field">
                <p class="title">Пароль</p>
                <input Name="Password" class="field" type="password">
                <div class="error">@Html.ValidationMessageFor(m => m.Login)
            </div>
                <button class="login_button">
                    Войти
                </button>
                <div class="window-bottom">
                    <p class="no-account">Нет аккаунта?</p>
                    <p class="go-to-reg"><a href="/register" style="text-decoration:none;">Зарегистрироваться</a></p>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <hr class="decor-line">
        <div class="mainLogo2">
            <img src="/images/logo.png">
        </div>
        <p class="bottom-slogan">
            Show Work - Ваш путь к вдохновению и успеху в цифровом мире!
        </p>
    </footer>
</body>
</html>


