@model ProfileViewModel
@using ShowWorkUI

@{
    ViewData["Title"] = "Профиль";
    IgnoreBody();
    bool Edit = false;

}

<!DOCTYPE html>
@await Component.InvokeAsync("MainMenu")
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="портфолио, контент, работы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title>Профиль</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/lib/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" type="text/css" href="/lib/codemirror/theme/eclipse.css" />
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/lib/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="/lib/codemirror/mode/xml/xml.js"></script>
    <script type="text/javascript" src="/lib/codemirror/addon/edit/closetag.js"></script>
    <script type="text/javascript" src="/lib/codemirror/addon/comment/comment.js"></script>
</head>
<body class="create-work-page">
    <component type="typeof(ShowWorkUI.Pages.ProfileWorkSaver)" render-mode="WebAssembly" />
    <script src="_framework/blazor.webassembly.js"></script>
    <footer>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="mainLogo2">
            <img src="images/logo.png">
        </div>
        <p class="bottom-slogan">
            Show Work - Ваш путь к вдохновению и успеху в цифровом мире!
        </p>
        <div class="bottom-links">
            <a href="/home">Главная</a>
            <a href="/catalogue">Каталог</a>
            <a href="/follows">Мои подписки</a>
        </div>
    </footer>
    
    
</body>
</html>

