@model bool
@if (Model)
{
     <header class="">
        <nav class="navbar">
            <ul class="navigation">
                    <li>
                        <img class="miniLogo" src="/images/logo_mini.png" width="50" height="59">
                    </li>
                    <li class="mainPage">
                        <a href="/home" class="text"><p>Главная</p></a>
                    </li>
                    <li class="mainLogo">
                         <img src="/images/logo.png">
                    </li>
                    <li>
                        <a href="/catalogue" class="text"><p>Каталог</p></a>
                    </li>
                    <li>
                        <a href="#" class="text"><p>Мои подписки</p></a>
                    </li>
                    <li>
                        <a href="#" class="text"><img class="plus" src="/images/plus.png"></a>
                    </li>
                    <li>
                        <a href="/profile" class="text"><img src="/images/profile.svg" /></a>
                    </li>
            </ul>
        </nav>
    </header>
}
else
{
    <header class="head">
        <nav class="navbar">
            <ul class="navigation">
                    <li>
                        <img class="miniLogo" src="/images/logo_mini.png" width="50" height="59">
                    </li>
                    <li class="mainPage">
                        <a href="/home" class="text"><p>Главная</p></a>
                    </li>
                    <li class="mainLogo">
                        <img src="/images/logo.png">
                    </li>
                    <li>
                        <a href="/register" class="text"><p>Каталог</p></a>
                    </li>
                    <li>
                        <a href="/register" class="text"><p>Мои подписки</p></a>
                    </li>
                    <li>
                        <a href="/register" class="text"><img class="plus" src="/images/plus.png"></a>
                    </li>
                    <li>
                        <a href="/login" class="login"><p>Вход</p></a>
                    </li>
            </ul>
                <div class="about">
                    <p class="slogan">Делитесь своим<br> талантом</p>
                    <p class="slogan2">
                        Show Work - ваш персональный креативный каталог для представления своих проектов,
                        идей и достижений в цифровом<br> формате.
                    </p>
                    <a href="/register" class="startwork">Начать работу</a>
                    <img class="arrow" src="/images/Arrow1.png">
                </div>
        </nav>
    </header>
}
